<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>{{ titulo }} | Entradas QR</title>
    <link
        rel="icon"
        href="/static/favicon.ico"
        type="image/x-icon"
    >
    
    <link
        rel="stylesheet"
        href="/static/css/theme.css"
    >

    <link
        rel="stylesheet"
        href="/static/css/styles.css"
    >
</head>

<body class="error-page">

    <main class="error-page-content">

        <img
            class="error-page-image"
            src="/static/img/error.jpeg"
            alt="Academia de Danzas Lituam Perú"
        >

        <div class="error-page-message">

            <h1>
                {{ titulo }}
            </h1>

            <p>
                {{ mensaje }}
            </p>

        </div>

    </main>

</body>

</html>